@import "styles/variables.scss";

.Loby {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  &-title {
    font-family: $font-cursive;
  }

  &-item {
    max-width: 200px;
    height: 20px;
  }
}
